.h {
  margin-left: 50px;
}
.img1 {
  height: 50px;
  width: 50px;
}
.img2 {
  height: 500px;
  width: 400px;
}
.desc {
  width: 500px;
  display: inline-block;
}
.back {
  display: inline-block;
}
.head {
  display: inline-block;

}
